---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.svelte";

const title = "Blog";
const description = "Blog posts";
const permalink = Astro.site?.href;

function sortPostIdHightoLow(a: number, b: number): number {
  return b - a;
}

const blogEntries = await getCollection("blog", ({ data }) => {
  return data.isDraft !== true;
});
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <h1>blog</h1>
  <div class="grid">
    {
      blogEntries
        .sort((a, b) => sortPostIdHightoLow(a.data.id, b.data.id))
        .map((post) => {
          return <Card post={post} />;
        })
    }
  </div>
</BaseLayout>

<style>
  .grid {
    --min-column-width: min(520px, 100%);
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--min-column-width), 1fr)
    );
    gap: 16px;
    padding: 16px;
  }

  h1 {
    margin-top: 56px;
    font-size: 2rem;
  }
</style>
