:root {
  --background-body: hsl(0deg, 0%, 95%);
  --text-main: hsl(202, 27%, 14%);
  --text-secondary: hsl(204, 6%, 35%);
  --primary-color: hsl(230, 57%, 53%);
  --secondary-color: hsla(300, 33%, 82%, 0.62);
  --font-family-serif: Merriweather, serif;
  --font-family-sans: 'Fira Sans', sans-serif;
}

:root.theme-dark {
  --background-body: hsl(210, 3%, 13%);
  --text-main: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 80%);
  --primary-color: hsl(153, 100%, 50%);
  --secondary-color: #282A36;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-serif);
  font-size: 14px;
  line-height: 1.6;
  background-color: var(--background-body);
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans);
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 4em;
  margin: 0 0 1em 0;
}


h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p,
ol {
  font-size: 1rem;
  line-height: 1.75em;
  margin: 1.2em 0;
}

ul {
  font-size: 1rem;
  margin: 5px;
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

a {
  color: var(--text-secondary);
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  padding: 0;
  border: 0;
  height: 10px;
  margin: 40px auto;
  border-bottom: 1px dashed var(--text-secondary);
  background: var(--background-body);
}

.tooltip {
  position: relative;
  width: 160px;
  padding: 16px;
  background: white;
  border-radius: 8px;
  text-align: center;
}

code {
  font-family: 'SF Mono', menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
  padding: 1.2em;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

.container {
  margin: 0 auto;
  max-width: 42em;
  width: 100%;
}

.content h1 {
  font-size: 2em;
  margin: 1em 0;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 8px 0.67em 0.33em;
  margin-left: 10px;
  gap: 0.6em;
  border-radius: 99em;
}

.theme-toggle > label:focus-within {
  outline: 2px solid transparent;
}

.theme-toggle > label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.theme-toggle .checked {
  opacity: 1;
}

input[name='theme-toggle'] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1020px) {
  h1 {
    font-size: 3em;
  }

  .content h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  p,
  ul,
  ol {
    margin: 1em 0;
  }

  a:hover {
    text-decoration: none;
  }
}
