<div>
  <p>Follow me on the interwebs at:</p>
  <a href="https://twitter.com/a_scardapane" target="_blank"
    >twitter.com/a_scardapane</a
  >
  <a href="https://github.com/a-scar" target="_blank">github.com/a-scar</a>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
  }
</style>
